@import "blocks/null";
@import "blocks/vars";
/*технический класс контейнер*/
._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;//padding не раздвигает контейнер
}

.wrapper  {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@import "blocks/header";
@import "blocks/main";
@import "blocks/footer";