// main: ../style.scss
.page {
  flex: 1 1 auto; //grow-1,shrink-1,basis-auto(может увел/уменьш, занимает ширину контента)
}

.page__main-block {

}

.main-block {
  position: relative;
}

.main-block__container {
}

._container {
}

.main-block__content {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.main-block__content > *:not(:last-child) { //обращаемся ко всем дочерним тэгам main-block__content первого ур-ня вложенности кроме проследнего
  margin: 0 0 35px 0;

}

@media (max-width: 992px) {
  .main-block__content {
    padding: 120px 0 191px 0;
  }
}

.main-block__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  font-weight: 800;
  letter-spacing: 0.2px;
}

@media (max-width: 449px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block_text {
  font-size: 20px;
  line-height: calc(30 / 20 * 100%);
  font-weight: 500;
  color: $gray;
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  padding: 5px 36px;
  margin: 10px 0;
}
//разрешаем увеличиваться/уменьшаться
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

//.main-block__button:not(:last-child) {
//  margin-right: 10px;
//}

.main-block__button_orange {
  background: $orange;
  color: $white;
}

.main-block__button_border {
  color: $green-dark;
  border: $green-dark 1px solid;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
//привязываем картинку к правому краю при res 1300px
@media (max-width: 1300px) {
  .main-block__image img{
    object-position: right;
  }
}
//делаем фон не прозрачным для читабельности текста
@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

/*----------------services---------------------*/

.page_services { //поднимаем весь блок
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}

.services {
}

.services__container {
}

.container {
}

.services__body {
  display: flex;
  margin: 0 -15px;//раздвигаем флекс контейнер на величину padding,
                  //который задали колонке
}

.services__column {
  padding: 0 15px;//отступ между флекс колонкой и контентом
  flex: 0 1 33.333%;//занимает 1/3 контейнера
}

.services__item {
  height: 100%;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
  background-color: $white;
  padding: 35px;
}

.item-service_green {
  background-color: $green-dark;

  .item-service__title {
    color: $white;
  }

  .item-service__text {
    color: $white;
  }
}

.item-service {
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__icon {
}

.item-service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
}

.item-service__text {
  color: $gray;
  font-size: 14px;
  line-height: 142%;
  font-weight: 500;

}